<div class="features">
  {%- for post in collections.feature -%}
    <div class="feature">
      <h2>{{ post.data.title }}</h2>
      <p>{{ post.data.shortDesc }}</p>
    </div>
  {%- endfor -%}
</div>
