.features {
  width: 100%;
  box-sizing: border-box;
  margin: var(--spacing-07) auto 0;
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid var(--ui-border-02);
  border-top-left-radius: var(--ui-border-radius-01);
  border-top-right-radius: var(--ui-border-radius-01);
  padding: var(--spacing-06) var(--spacing-05);
  margin-top: var(--spacing-05);
}

.feature h2 {
  margin-bottom: var(--spacing-05);
}

.feature p {
  text-align: center;
}

.feature p:last-child {
  margin-top: var(--spacing-05);
}

@media (min-width: 992px) {
  .features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .feature {
    margin-top: 0;
    padding: var(--spacing-08) var(--spacing-07);
  }
}